#login {
  
   background-image: url('../web/img/wallpaper.jpg') ;
 background-repeat: no-repeat; 
 background-size: cover; 
 background-position: center center; 
 
 
    }

   .loginform{
    
     text-align: center;
     color: white;
     top: 30%;
     left: 30%;
     transform: translate(-50%, -50%);
   }
 